.chatListItemWrapper{
    display: flex;
    justify-content: space-between;
    background-color: white(43 54 62);
    padding-left:5px;
    border-bottom: 3px solid #fafafa;
}
.selectedChatListItem{
    background-color: #fbf6f3;
}
.chatListItem{
    display: flex;
    align-items: center;
    height:83px;
    color:white;
    overflow-x:hidden;
    padding:2px 5px;
    overflow-y:hidden;   
    border-radius:5px;
}

.chatListItemName{
    margin:0;
    font-size:17px;
    font-weight: bold;
    color:#4d4d4d;
}
.chatListItemLastMessage{
    font-size:14px;
    color:#958680;

    
}

.itemNameTime{
    display:flex;
    justify-content: space-between;
}

.time{
    font-weight:bold;
    font-size:10px;
    margin-right:9px;
    margin-bottom: 16px;
}

.itemNameMessageCount{
    display: flex;
}

.messageCount{
    margin-left:11px;
    background-color: #205078;
    border-radius:10px;
    color:rgb(241, 241, 241);
    padding: 0 7px;
}

a{
    text-decoration: none;
}

.chatListItemNameCount{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.chatListItemNameCount > p{
    margin:0;
}

.chatListItemTime{
    display: flex;
    align-items: center;
    color:#dfdad8;
    
}

.chatListItemImage{
        width: 40px;
        height: 40px;
        border-radius: 2rem;
        margin-right:9px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e8b9b1;
}
