.userItem{
    width:169px;
    margin-top:10px;
    height:71px;
    background-color: rgb(43 54 62);
    color:white;
    overflow-x:hidden;
    padding:2px 5px;
    overflow-y:hidden;   
    border-radius:5px;
}

.requestBtn{
    width:65px !important;
    height:36px;
    margin-left:10px;
}

.requestButtons{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.requestResponseButton{
    margin-top:5px;

    height:33px;
    width:6rem;
    border-radius: 34px;
}

.rejectRequestButton{
    background-color: #a61e56;
}