.userItem{
        width:169px;
        margin-top:10px;
        height:71px;
        background-color: rgb(43 54 62);
        color:white;
        overflow-x:hidden;
        padding:2px 5px;
        overflow-y:hidden;   
        border-radius:5px;
}

.itemNameMessageCount{
        display: flex;
        flex-direction: column;
}

.selectedUserItem{
        background-color: red;
}
.sendRequestButton{
        height:38px;
        width:6rem;
        border-radius: 34px;
}

.allUserListItem{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:83px;
        color:white;
        overflow-x:hidden;
        padding:2px 10px;
        overflow-y:hidden;   
        border-radius:5px;
    }

    .allUserItemName{
        color:#4d4d4d;
        font-size:17px;
        font-weight:bold;
    }
    

    .allUserListItemInfo{
        display:flex;
        align-items: center;
    }