.messageListContainer{
    border-radius:1rem;
    /* height:496px; */
    height:69vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    overflow-y:auto;
    overflow-wrap: break-word;
}

.headingContainer
{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.selectHeading{
    font-size: 20px;
}

.noMessages{
    color:white;
    display: flex;
    justify-content: center;
    /* height:35rem; */
    height:69vh;
    align-items: center;    
}